{% extends 'admin/adminBase.html'%}
{% block 'admin-content' %}
    <div class="contaner">
        <div class="row">
            <div class="col-12 mx-auto">
                <h1 class="fs-1">{{title|upper}}</h1>
            </div>
            <div class="col mx-auto">
                <table class="table">
                    <tr>
                        <th class="border">id</th>
                        <th class="border">Name</th>
                        <th class="border">Father name</th>
                        <th class="border">Mother name</th>
                        <th class="border">DOB</th>
                        <th class="border">Class</th>
                        <th class="border">Contact</th>
                        <th class="border">Gender</th>
                        <th class="border">Address</th>
                        <th colspan="3" class="border">Action</th>
                    </tr>
                    {% for stu in students %}
                        <tr>
                            <td>{{stu.id}}</td>
                            <td>{{stu.first_name}} {{stu.last_name}}</td>
                            <td>{{stu.father_name}}</td>
                            <td>{{stu.mother_name}}</td>
                            <td>{{stu.dob}} </td>
                            <td>{%if stu.isApproved %}
                                    <a href="{% url 'viewClassWise' stu.className.class_name %}" class="text-dark">{{stu.className.class_name }}</a>
                                {%else%}    
                                    {{stu.className.class_name }}
                                {%endif%}
                            </td>
                            <td>{{stu.contact}}</td>
                            <td>{{stu.gender}}</td>
                            <td>{{stu.address}}</td>
                            
                            <td><a href="{% url 'deleteStudent' stu.id %}" class="btn btn-danger">Delete</a></td>
                            <td><a href="{% url 'editStudent' stu.id %}" class="btn btn-info">Edit</a></td>
                            <td><a href="{%url 'viewSingle' stu.id%}" class="btn btn-success">View</a></td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
{% endblock 'admin-content' %}